{#
/**
 * @file
 * Default theme implementation to present a help guide entity.
 *
 * This template is used when viewing a canonical help guide page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 * - entity_type_label: The label of the selected entity type.
 * - entity_bundle_label: The label of the selected bundle.
 * - field_name_label: The label of the selected field.
 *
 * @see template_preprocess_help_guide()
 */
#}
{{ attach_library('pu_help_guide/dialog_edit_styling') }}
<article{{ attributes }}>
  {% if content %}
    <div id="help-guide-entity-info">
      {% if entity_type_label or entity_bundle_label %} 
          {{ entity_type_label }} 
          {% if entity_type_label and entity_bundle_label %} / {% endif %} 
          {{ entity_bundle_label }} 
      {% endif %} 
    </div>
    <h1 class="help-guide-label">{{ content.label }}</h1>
    {# {{ content.description[0]['#text']|raw }} #}
    {{ content.description }}
  {% endif %}

  <div class="dialog-bottom">
    Something incorrect? Report an error to <a href="mailto:franciscoguardadocode@gmail.com">franciscoguardadocode@gmail.com</a>
  </div>
</article>
